<% content_for :navigation do %>
  <%= link_to '<i class="fa fa-chevron-circle-left fa-lg"></i>'.html_safe,
  contacts_path, class: "nav-button pull-left" %>
  <label><%= @page_title%></label>
  <a href="#" id="submit_form">Save</a>
<% end %>
<%= render partial: "form", locals: {contact: @contact} %>
