<% content_for :navigation do %>
  <label><%= @page_title%></label>
  <%= link_to '<i class="fa fa-plus-circle fa-lg"></i>'.html_safe,
      new_contact_path, class: "nav-button pull-right" %>
<% end %>
<ul class="contacts-list">
  <% @contacts.each do |c| %>
  <li>
    <%= link_to(name_and_description(c), contact_path(c), class: "tag") %>
  </li>
  <% end %>
</ul>
