/*###########################
Clearfix
###########################*/

.group:after {
  content: "";
  display: table;
  clear: both;
}

/*###########################
Reset
###########################*/

html,body,div,span,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,
address,cite,code,del,dfn,em,img,ins,kbd,
q,samp,small,strong,sub,sup,var,b,i,dl,dt,
dd,ol,ul,li,fieldset,form,label,legend,table,
caption,tbody,tfoot,thead,tr,th,td,article,
aside,canvas,details,figcaption,figure,footer,
header,hgroup,menu,nav,section,summary,time,
mark,audio,video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size: 100%;
  vertical-align:baseline;
  background:transparent;
}
body {
  line-height:1;
  margin:0;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
  display:block;
}
nav ul {list-style:none;}
blockquote,q {quotes:none;}
blockquote:before,blockquote:after,q:before,q:after {
  content:none;
}
a {
  margin:0;
  padding:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}
ins {
  background-color:#ff9;
  color:#000;
  text-decoration:none;
}
mark {
  background-color:#ff9;
  color:#000;
  font-style:italic;
  font-weight:bold;
}
del {
  text-decoration:line-through;
}
abbr[title],dfn[title]{
  border-bottom:1px dotted;
  cursor:help;
}
table {
  border-collapse:collapse;
  border-spacing:0;
}
hr {
  display:block;
  height:1px;
  border:0;
  border-top:1px solid #ccc;
  margin:1em 0;
  padding:0;}
input,select {
  vertical-align:middle;
}

/*###########################
Variables
###########################*/

$blue-light:        #3f5d8d;
$blue-medium:       #3a5685;
$blue-dark:         #28416a;

$success-green:     #518d3f;
$success-highlight: #72AD60;

/*###########################
Typography
###########################*/

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 28px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

/*###########################
Elements
###########################*/

.nav-button {
  color: white;
  text-decoration: none;
  line-height: 60px;
}

/*###########################
Layout
###########################*/

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  display: block;
  height: 100%;
  width: 100%;
}

.pull-left {float: left;}
.pull-right {float: right;}

.half {
  float: left;
  width: 47%;
}

.top-navigation {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  height: 90px;
  padding: 15px;
  line-height: 60px;

  background-color: $blue-light;
  color: white;
  box-shadow: 0px 10px 0px rgba(0, 0, 0, 0.1);
  text-align: left;

  label {
    font-weight: 100;
    margin-left: 10px;
    font-size: 2.3rem;
  }
}

.main-content {
  position: fixed;
  top: 90px;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: scroll;

  background-color: $blue-dark;
  font-size: 1.4rem;
  color: white;
}

.contacts-list {
  display: block;
  width: 100%;
  box-shadow: 0 10px 0 rgba(0,0,0,0.05);

  li {
    list-style: none;
    background-color: $blue-light;
    height: 90px;
    line-height: 30px;

    &:nth-child(odd) {
      background-color: $blue-medium;
    }

    &:hover, &:active {
      background-color: $blue-dark;
    }

  }
}

.tag {
  display: block;
  color: white;
  text-decoration: none;
  padding: 20px;

  span {
    display: block;
    font-size: 1.2rem;
    font-style: italic;
    line-height: 20px;
    color: rgba(255,255,255,0.35);
  }
}

/*###########################
Forms
###########################*/

form {
  display: block;
  width: 100%;
  height: 100%;
}

.form-container {padding: 15px 15px 60px;}

input, select {
  background-color: white;
  border: none;
  width: 100%;
  height: 60px;
  margin-bottom: 15px;
  padding: 10px;
  font-size: 1.4rem;
  font-weight: 300;

  &[type="submit"] {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    margin-bottom: 0;
    background-color: $success-green;
    color: white;
    box-shadow: inset 0 1px 0 $success-highlight;
  }
}

.first-half {margin-right: 6%;}

/*###########################
Contact View
###########################*/

.tag-info {
  font-size: 2.3rem;
  line-height: 2.3rem;
  padding: 30px 15px;

  span {
    color: rgba(255,255,255,0.35);
    font-style: italic;
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
}

.phone-number, .email {
  display: block;
  height: 60px;
  line-height: 60px;
  padding: 0 15px;
  text-decoration: none;
  color: white;
}

.phone-number {
  background-color: $success-green;
  box-shadow: inset 0 1px 0 $success-highlight;
}

.email {
  background-color: $blue-medium;
}

.notes {
  padding: 30px 15px;
  color: rgba(255,255,255,0.35);
  line-height: 2rem;
}














