/*###########################
Clearfix
###########################*/

.group:after {
  content: "";
  display: table;
  clear: both;
}

/*###########################
Reset
###########################*/

html,body,div,span,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,
address,cite,code,del,dfn,em,img,ins,kbd,
q,samp,small,strong,sub,sup,var,b,i,dl,dt,
dd,ol,ul,li,fieldset,form,label,legend,table,
caption,tbody,tfoot,thead,tr,th,td,article,
aside,canvas,details,figcaption,figure,footer,
header,hgroup,menu,nav,section,summary,time,
mark,audio,video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size: 100%;
  vertical-align:baseline;
  background:transparent;
}
body {
  line-height:1;
  margin:0;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
  display:block;
}
nav ul {list-style:none;}
blockquote,q {quotes:none;}
blockquote:before,blockquote:after,q:before,q:after {
  content:none;
}
a {
  margin:0;
  padding:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}
ins {
  background-color:#ff9;
  color:#000;
  text-decoration:none;
}
mark {
  background-color:#ff9;
  color:#000;
  font-style:italic;
  font-weight:bold;
}
del {
  text-decoration:line-through;
}
abbr[title],dfn[title]{
  border-bottom:1px dotted;
  cursor:help;
}
table {
  border-collapse:collapse;
  border-spacing:0;
}
hr {
  display:block;
  height:1px;
  border:0;
  border-top:1px solid #ccc;
  margin:1em 0;
  padding:0;}
input,select {
  vertical-align:middle;
}

/*###########################
Variables
###########################*/

$rouge-light:   #804C5F;
$rouge-medium:  #794759;
$rouge-dark:    #5F3343;

/*###########################
Typography
###########################*/

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 28px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

/*###########################
Elements
###########################*/

.nav-button {
  color: white;
  text-decoration: none;
  line-height: 60px;
}

/*###########################
Layout
###########################*/

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  display: block;
  height: 100%;
  width: 100%;
}

.pull-left {float: left;}
.pull-right {float: right;}

.top-navigation {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 90px;
  padding: 15px;
  line-height: 60px;

  background-color: $rouge-light;
  color: white;
  text-align: left;

  label {
    font-weight: 100;
    margin-left: 20px;
    font-size: 2.5rem;
  }
}

.main-content {
  position: fixed;
  top: 90px;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: scroll;

  background-color: $rouge-dark;
  font-size: 1.4rem;
}

.contacts-list {
  display: block;
  width: 100%;
  box-shadow: 0 10px 0 rgba(0,0,0,0.05);

  li {
    list-style: none;
    background-color: $rouge-light;
    height: 90px;
    padding: 20px;
    line-height: 30px;

    &:nth-child(odd) {
      background-color: $rouge-medium;
    }

    &:hover, &:active {
      background-color: $rouge-dark;
    }

  }
}

.tag {
  display: block;
  color: white;
  text-decoration: none;

  span {
    display: block;
    font-size: 1.2rem;
    font-style: italic;
    line-height: 20px;
    color: rgba(255,255,255,0.35);
  }
}



