<!DOCTYPE html>
<html>
<head>
  <title>Nivnik</title>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,100,100italic,300italic,400italic,500,500italic' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="top-navigation">
  <a href="#" class="nav-button pull-left">
    <i class="fa fa-chevron-left"></i>
    Back
  </a>
  <label>Page Title</label>
  <a href="#" class="nav-button pull-right">
    New
    <i class="fa fa-plus"></i>
  </a>
</nav>

<main class="main-content">
  <%= yield %>
</main>

</body>
</html>
